.top-menu{
	background-color: black;
	color: white;
	font-size: 15px;
	height: 40px;
	margin-top: 0;
	padding-left: 5%;
	padding-right: 5%;
}
.mid-menu{
	padding-left: 30px;
	padding-right: 10%;
	padding-top: 10px;
	background-color: white;
	height: 50px;
}
.icon {
	margin-top:5px;
	
}

.logo-top{
	width: 8%;
	height: auto;
	float: left;
	padding-left: 13%;
	padding-top: 10px;
	
}
a {
	color:black;
	text-decoration: none;
}
a:hover{
	color: orangered;
}
.mid-menu, .top-menu {
list-style: none;
display:flex;
}

.bouton-menu {
	flex: 1 1 auto;
	gap: 10px;
	text-align: center;
	font-size: large;
	
}
.inscr-bouton {
	background-color: #FE7000;
	color: white;
	padding: 10px;
	width: 50px;
	font-size: x-large;
}

.banner-container{
	display: flex;
	justify-content: center;
	background-color: #FF8F19;
}
.find-club{
	display: flex;
	justify-content: center;
	background-color: white;
	
}
.ville-find{
	display: flex;
	gap: 20px;
	list-style: none;
	justify-content: center;
}
#disclaimer > h1 {
	color: white;
	font-size: xx-large;

}
body{
	margin: 0;
	padding: 0;
}